*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Début du Main */

main {
    background-color: #fff;
    width: 100%;
    height: auto;
}

.container {
    width: 90%;
    margin: auto;
}

.container h1 {
    margin: 20px auto;
    padding-bottom: 20px;
    text-align: center;
}

.container h1 span {
    justify-content: center;
}

.container h1 span:first-child {
    color: #de091d;
}

.card-container {
    margin: 80px auto;
}

.card-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-height : 350px;
    perspective: 2000000px;
}

.card-wrapper .card-hover:hover > .card {
    transform: rotateY(180deg);
}


.card {
    position: relative;
    height: 600px;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    font-weight: bold;
    border-radius: 20px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card-front, 
.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.card-front h2 {
    font-size: 35px;
}


.imgperso {
    height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
}


.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back a {
    background-color: #fff;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 14px;
    color: black;
    transition: 
    background-color 0.3s ease-out,
    color 0.3s ease-out;   
    margin: 20px;
}

.card-back h2 {
    font-size: 40px;
    position: absolute;
}

.card-back .Name {
    top: 45px;
}

.card-back .HouseBack {
    bottom: 45px;
}


.card-back img {
    position: relative;
    height: 350px;
}

.Gryffindor {
    background: #9D000F;
}

.Slytherin {
    background: #1E6F30;
}

.Hufflepuff {
    background: #D6A600;
}

.Ravenclaw {
    background: #04667F;
}

.SansMaison {
    background: #9D000F;
}

/* Fin du Main */

/* Footer */

footer {
    background-color: #555555;
    width: 100%;
    height: auto;
    color: white;
}

.footFlex {
    display: flex;
}

.footText {
    justify-content: space-between;
    width: 100%;
    padding: 60px 350px 20px 350px;
}

.footul {
    list-style: none;
    font-family: 'PT Sans';
    font-weight: 400;
    line-height: 28px;
}

.footdiv1 {
    width: 600px;
}

.footdiv2 {
    width: 600px;
}

.footdiv3 {
    
    width: 600px;
}


.FootTitre {
    margin-bottom: 20px;
    font-family: 'PT Sans';
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.MargeUL {
    margin-left: 20px;
}

.footliens {
    text-decoration: none;
    color: white;
}

.footliens:hover {
    text-decoration: underline;
}


.logofoot {
    height: 40px;
    justify-content: center;
    align-items: center;
}

.ARR {
    text-align: right;
    padding: 20px;
}


/* RESPONSIVE FOOTER */

@media (width < 1500px) {
    .footText {
        padding: 60px 150px 20px 150px;
    }
}

@media (width < 1150px) {
    .footText {
        padding: 60px 50px 20px 50px;
    }
}

@media (width < 850px) {
    .footFlex {
        flex-direction: column;
    }
    .MargeUL {
        margin-bottom: 40px;
    }
    .ullien1 {
        margin-top: -35px;
    }
}

/* Fin du RESPONSIVE FOOTER */