*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.head {
    width: 100%;
    height: 100px;
    background-color: white;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
    position: sticky;
    top: 0;
}

.foreground {
    z-index: 1000;
}

h1 {
    margin-left: 15px;
    font-family: 'Inter';
    font-weight: 700;
}

.center {
    align-items: center;
}

.logo {
    height: 80px;
}

.head ul {
    list-style: none;
}

.flex {
    display: flex;
}

.flexhead {
    display: flex;
}

.menu {
    gap: 50px;
}

.boutonmenu {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px;
    border-bottom: 3px solid black;
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 15px;
}

.boutonmenu:hover {
    color: white;
    background-color: #de091d;

}

.Menu-deroulant {
    display: none;
    position: absolute;
    height: 40px;
    right: 40px;
    top: 32px;
}


/* RESPONSIVE HEADER */
/* ET APPARITION DU MENU BURGER */

@media (width < 950px) {

    .decallogo {
        width: 100%;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

    /* Display du Menu */

    .Menu-deroulant {
        display: block;
    }

    /* Changement d'apparence du Menu actuel */

    .nav_links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin-left: -250%;
        transition: 0.3s;
    }

    .nav_links.menu-mobile {
        margin-left: 0;
    }

    .flexhead {
        flex-direction: column;
    }

    .boutonmenu {
        border-bottom: none;
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 8px;
        display: inline-block;
        width: 150px;
        text-align: center;
        font-size: 30px;
    }


}


@media (width <= 425px) {
    .titrebike {
        display: none;
    }
}


/* Fin du header */